// Fonts
$font-family-primary: 'DM Sans', sans-serif;
$font-family-second: 'Titan One', cursive;

$color-primary: #d41443;
$color-bg: #ffb8ca;
$color-bg-circle: #ffa5ba;
$color-hover-social: #fea5bb;
$color-hover-btn-first: #c7133e;
$color-hover-btn-second: #ecebeb;
$color-bg-green: #c2e297;
$color-bg-brown: #f0d1a5;
$color-bg-footer: #fff5f6;
$color-white: #ffffff;
$color-black: #000000;
$color-subtext: #907e82;
$color-bg-mobile-menu: #e17992;
$color-contacts-border: #e1e1e1;
$color-border-menu: #e18298;
$color-bg-overlay: rgba(0, 0, 0, 0.2);

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
