<section class="advantages-section" id="advantages">
  <h2 class="visually-hidden">Advantages section</h2>
  <div class="container">
    <ul class="advantages-section__list">
      <li class="advantages-section__sublist">
        <p class="name advantages-section__name_a">721</p>
        <p class="advantages-section__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages-section__sublist">
        <p class="name advantages-section__name_b">16kg</p>
        <p class="advantages-section__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantages-section__sublist">
        <p class="name advantages-section__name_c">84</p>
        <p class="advantages-section__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
