<section class="customer">
    <h2 class="visually-hidden">Customer section</h2>
    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active icon-home" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <article class="carousel-item active">
                    <img src="./images/customer-img-1.png" class="d-block slider-pfoto" alt="..." />
                    <div class="carousel-caption d-md-block slider-text">
                        <p class="slider-text-decoration underline slide__text-wrap">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <div class="color-slider_decoration">
                        <span class="color-dot"></span>
                        <h5 class="slider-name-decoration">Emily, Los Angeles</h5>
                    </div>
                </article>

                <article class="carousel-item">
                    <img src="./images/customer-img-2.png" class="d-block slider-pfoto" alt="..." />
                    <div class="carousel-caption d-md-block slider-text">
                        <p class="slider-text-decoration underline slide__text-wrap">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <div class="color-slider_decoration">
                        <span class="color-dot"></span>
                        <h5 class="slider-name-decoration">Ann, Chicago</h5>
                    </div>
                </article>

                <article class="carousel-item">
                    <img src="./images/customer-img-3.png" class="d-block slider-pfoto" alt="...">
                    <div class="carousel-caption d-md-block slider-text">

                        <p class="slider-text-decoration underline slide__text-wrap">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <div class="color-slider_decoration">
                        <span class="color-dot"> </span>
                        <h5 class="slider-name-decoration">Anastasiia, New York</h5>
                    </div>
                </article>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
        </div>
        <article class="carousel-item">
            <img src="./images/customer-img-3.png" class="d-block slider-pfoto" alt="..." />
            <div class="carousel-caption d-md-block slider-text">
                <p class="slider-text-decoration underline slide__text-wrap">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <div class="color-slider_decoration">
                <span class="color-dot"></span>
                <h5 class="slider-name-decoration">Anastasiia, New York</h5>
            </div>
        </article>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>
</section>