<section id="products">
  <div class="container products">
    <p class="product__text">100% natural</p>
    <h2 class="product__title">products</h2>
    <ul class="products__container">
      <li class="products__list">
        <div class="ice_cream">
          <h3 class="products__name products__name--cream">ice cream</h3>

          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>

          <button type="button" class="product__button" data-path="coffee">
            <svg class="product__icon" width="40" height="40">
              <use href="./images/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__list">
        <div class="ice__coffee">
          <h3 class="products__name products__name--coffee">ice coffee</h3>

          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>

          <button type="button" class="product__button" data-path="cream">
            <svg class="product__icon" width="40" height="40">
              <use href="./images/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__list">
        <div class="milkshakes">
          <h3 class="products__name products__name--milkshakes">milkshakes</h3>

          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>

          <button class="product__button" data-path="milcshakes">
            <svg class="product__icon" width="40" height="40">
              <use href="./images/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>

    <!--modal -1-->
    <div class="modals">
      <div class="modal-overlay">
        <div class="modal modal--1 modal__coffee" data-target="coffee">
          <p class="product__text-modal">100% natural</p>
          <ul class="modal__coffee-text">
            <li>milk.................20g</li>
            <li>water...............20g</li>
            <li>ice.....................5p</li>
            <li>coffee.............20g</li>
            <li>chocolate.........2p</li>
          </ul>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
        </div>
        <div class="modal modal--2 modal__cream" data-target="cream">
          <p class="product__text-modal">100% natural</p>
          <ul class="modal__coffee-text">
            <li>milk.................20g</li>
            <li>water...............20g</li>
            <li>ice.....................5p</li>
            <li>coffee.............20g</li>
            <li>chocolate.........2p</li>
          </ul>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
        </div>
        <div class="modal modal--3 modal__milcshakes" data-target="milcshakes">
          <p class="product__text-modal">100% natural</p>
          <ul class="modal__coffee-text">
            <li>milk.................20g</li>
            <li>water...............20g</li>
            <li>ice.....................5p</li>
            <li>coffee.............20g</li>
            <li>chocolate.........2p</li>
          </ul>
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
